pipeline {
         agent any
         stages {
                 stage('One') {
                 steps {
                     echo 'Hi, this is kaushlendra'
                 }
                 }
                 stage('Two') {
                 steps {
                    input('Do you want to know more about me?')
                 }
                 }
		 stage('three') {
                 steps {
                     echo 'i live in lucknow'
                 }
                 }
                 stage('four') {
                 steps {
                    echo('currently i am working as a devops trainee at To The New')
                 }
                 }
         	 stage('Gradle Build') {
                 agent any
                 steps {
                 sh "gradle clean build"
            }
        }	
		stage('consolidated Results')
		{
		steps{
		  input("do you want to capture results?")
		  junit'**/target/surefire-reports/TEST-*.xml'
    		  archive 'target/*.jar'
		}
		}

	}
		}
