
pipeline {
         agent any
         stages {
                 stage('One') {
                 steps {
                     echo 'Hi, this is kaushlendra'
                 }
                 }
                 stage('Two') {
                 steps {
                    input('Do you want to know more about me?')
                 }
                 }
		 stage('three') {
                 steps {
                     echo 'i live in lucknow'
                 }
                 }
                 stage('four') {
                 steps {
                    echo('currently i am working as a devops trainee at To The New')
                 }
                 }
         	 stage('Gradle Build') {
                 agent any
                 steps {
                 sh "gradle clean build"
            }
        }	

		stage('email build status') {
                 steps {
                mail bcc: '', body: 'sample body', cc: '', from: '', replyTo: '', subject: 'pipeline_gardle output', to: 'kaushlendra.singh@tothenew.com'
		}
		}

	}
		}
